.background {
  background: linear-gradient(
    45deg,
    rgba(63, 94, 251, 0.8) 0%,
    rgba(252, 70, 107, 0.8) 100%
  );
  min-height: 100vh;
  color: #eee;
}
.eather {
  padding-left: 120px;
  padding-right: 937px;
  padding-top: 43px;
  height: 17px;
  width: 95px;
  color: #ffffff;
  font-family: "Hiragino Kaku Gothic Std";
  font-size: 17.28px;
  letter-spacing: 2.69px;
  line-height: 26px;
}
.search-box-container {
  text-align: right;
  width: 100%; /* position: relative; */
}
.search-box {
  width: 100%;
  background-color: #eee3;
  padding: 10px;
  border: 2px solid #eee;
  position: relative;
}
.search-input {
  color: #fff;
  outline: 0px;
  background: #fff0;
  border: none;
  width: 100%;
  padding-right: 30px;
}
.search-city {
  height: 19px;
  width: 79px;
  opacity: 0.8;
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 19px;
}
.search-btn {
  color: #fff;
  font-size: 22px;
  position: absolute;
  right: 5px;
  top: 2px;
  background-color: #0000;
  border: none;
}
/* navbar*/

a.nav-link {
  color: #ffff;
}

.nav-row {
  margin-bottom: -32px;
}
.nav-items {
  list-style-type: none;
  display: inline-flex;
  padding-left: 0;
}
.nav-items li {
  padding: 0 20px 0 0;
}
.nav-items li a {
  color: #fffa;
  padding: 10px;
  text-decoration: none;
  transition: 0.5s;
}
.nav-items li a:hover {
  color: #fff;
  font-weight: bold;
}
.active-nav {
  color: #ffd639 !important;
  position: relative;
}
.active-nav::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 4px;
  left: 0px;
  background-color: #ffd639;
}
h2 {
  color: #fff;
  padding-left: 131px;
}
/*sunny*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.temp {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 75px;
  width: 73px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 64px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 75px;
}

/*fav list*/
/* .list-group-item {
  padding: 15px 26px;
  padding-left: 100px;
  background-color: transparent;
  
} */
.list-group-item {
  padding-left: 10px;
  position: relative;
  display: block;
  padding: 1.5rem 4rem;
  color: #f8f9fa;
  text-decoration: none;
  /* background-color: #fff; */
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.card {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: transparent;
  background-clip: border-box;
  /* border: 1px solid rgba(0, 0, 0, 0.125); */
  /* border-radius: 0.25rem; */
}
.list-group,
.list-group-flush {
  background-color: transparent;
}
.list-group-item {
  background-color: transparent;
}
